<ngx-header></ngx-header>
<div class="container">
<div class="row">
    <div class="food-navigation">
      <nb-card style="width: 99%;">
        <nb-card-header>
          Categories
        </nb-card-header>
        <nb-card-body>
<!--          <mat-selection-list>-->
<!--            <mat-list-option *ngFor="let category of categories">-->
<!--              {{category.name}}-->
<!--            </mat-list-option>-->
<!--          </mat-selection-list>-->
          <nb-list>
            <nb-list-item (click)="fetchAll()">
              All Categories
            </nb-list-item>
            <nb-list-item *ngFor="let category of categories" (click)="changeCategory(category.id)">
              {{ category.name }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="food-list">
      <nb-card>
        <nb-card-header>
          Products
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let meal of meals" style="padding-bottom: 30px;">
              <mat-card>
                <a class="disabled" class='no-underline' [routerLink]="'/home/' + meal.id">
                  <mat-card-header style="height:65px;">
                    <mat-card-title style="color: #673ab7 !important; ">{{meal.title}}</mat-card-title>
                  </mat-card-header>
                  <img *ngIf="meal.category.id === 1"
                       src="http://primebeef.ru/images/cms/data/img_3911.jpg"
                       mat-card-image alt="">
                  <img *ngIf="meal.category.id === 2"
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTnKkiEIaIpc03qY8j9kDMMJtqT4YGpYUaIUwKe4Eqv9O9ucI_S"
                       mat-card-image alt="">
                </a>
                <mat-card-actions>
                  <h5 style="padding-left: 10px;">Price: ${{meal.price}}</h5>
                  <button *ngIf="productNotAdded" mat-raised-button class='addToCartBtn' (click)="addToCart($event, meal.id)" color="primary">
                    Add to card
                  </button>
                  <div class="example-button-row" *ngIf="productAdded">
                    <button mat-mini-fab class="redBtn" (click)="decreaseAmount()">-</button>
                    <span><strong> {{ amount }} </strong></span>
                    <button mat-mini-fab class="greenBtn" (click)="increaseAmount()">+</button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
    </div>
  </div>

<ng-template #categoryModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ data.e.title }}</nb-card-header>
    <nb-card-body>
      {{data.e.description}}
      <br>
      {{data.e.category.name}}

    </nb-card-body>

  </nb-card>
</ng-template>
