<div class="col-lg-12">
  <div class="d-flex justify-content-end align-items-center">
    <button nbButton [routerLink]="'/shop'" status="success">Назад</button>
  </div>
</div>
<div *ngIf="!!meal">
  <nb-card>
    <nb-card-header>
      <div class="container d-flex justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3">{{meal.title}}</h1>
          <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/shop']">Shop</a></span><i class="fa fa-angle-right"></i> <span> {{meal.title}}</span></p>
        </div>
      </div>
    </nb-card-header>
  </nb-card>
<!--  <section class="home-slider owl-carousel">-->
<!--    <div class="slider-item" style="background-image: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);" data-stellar-background-ratio="0.5">-->
<!--      <div class="overlay"></div>-->
<!--      <div class="container">-->
<!--        <div class="row slider-text justify-content-center align-items-center">-->
<!--          <div class="col-md-7 col-sm-12 text-center">-->
<!--            <h1 class="mb-3 mt-5 bread">{{meal.title}}</h1>-->
<!--            <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/shop']">Shop</a></span><i class="fa fa-angle-right"></i> <span> {{meal.title}}</span></p>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5">
          <a href="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=728&q=80" class="image-popup"><img src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=728&q=80" class="img-fluid" alt="Colorlib Template"></a>
        </div>
        <div class="col-lg-6 product-details pl-md-5">
          <h3>Creamy Latte Coffee</h3>
          <p class="price"><span>$4.90</span></p>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
          </p>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group d-flex">
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option value="">Small</option>
                    <option value="">Medium</option>
                    <option value="">Large</option>
                    <option value="">Extra Large</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="icon-minus"></i>
	                	</button>
	            		</span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
              <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="icon-plus"></i>
	                 </button>
	             	</span>
            </div>
          </div>
          <p><a href="cart.html" class="btn btn-primary py-3 px-5">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </section>
<!--  <div class="container-fluid">-->
<!--    <div class="container d-flex justify-content-center align-items-center">-->
<!--      <h1>{{meal.title}}</h1>-->
<!--    </div>-->
<!--  </div>-->
</div>

<div *ngIf="noMeal">
  <h3>No Such a meal Return <strong style="color: blue; text-decoration: underline;" [routerLink]="['/shop']">Shop</strong></h3>
</div>
